.main-1{
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 30px;
}
.img-1{
    width: 10%;
    height: 100%;
}
.img-1 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.main-2{
    display: flex;
    align-items: center;
    width: 40%;
    
    justify-content: space-between;
}
.main-3{
    display: flex;
    align-items: center;
    width: 14%;
    justify-content: space-between;
}
.main-3 > div{
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.m-9{
    width: 98%;
    height: 40px;
    /* border: 1px solid; */
    margin-top: 30px;
}
.m-9 input{
    width: 80%;
    height: 80%;
    margin-right: 3px;
    border: 2px solid;
    border-radius: 2px;
}
.in-1{
    width: 10%;
    height: 100%;
    color: black;
    font-weight: bold;
    /* border-radius: 50%; */
}
.dropbtn {
    /* background-color: #04AA6D; */
    color: black;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
  }

 .dropbtn:hover{
     border-bottom: 2px solid;
 } 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    z-index: 1;
    border: 0.5px solid burlywood;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block; border-radius: 2px;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  .mb-1{
      width: 98%;
      height: 40px;
      background-color: burlywood;
      margin-bottom: 0px;
      margin: auto;
  }
  .mb-1 > p{
      /* align-items: center; */
      font-size: 14px;
      font-weight: bold;
      height: 30px;
      /* border: 1px solid; */
      width: 70%;
      margin: auto;
      padding: 5px;
      margin-top: 10px;
      text-align: center;
  }