.login{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    justify-content: center;
    font-family: "inter";
    width: 30%;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.login_form > h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}
.login_form > input{
    min-width: 380px;
    padding: 20px, 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    font-family: "inter";
    border-radius: 2px;
    font-size: 15px;
    margin-top: 5px;
}
.login_button {
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    color: white;
    border: none;
    font-family: "inter";
    border-radius: 3px;
}
.user_name{
    color:  blueviolet;
}