.btn-1{
    color: yellow;
    /* text-align: center; */
    font-size: 35px;
    border: none;
    border-radius: 70%;
    width: 20px;
    margin-left: 2%;
    height: 20px;
    background-color: rgba(128, 128, 128, 0);
}
.main-1{
    justify-content: space-between;
    width: 70%;
    margin: auto;
    
}
.main-2{
    font-size: 20px;
   margin-top: 0px;
   display: inline-block;
   width: 50%;
   margin-left: 0px;
}
.find{
    justify-content: space-between;
    width: 400px;
    margin: auto;
    margin-top: 5px;
    background-color: rgba(128, 128, 128, 0.773);
    border-radius: 5px;
    padding-bottom: 10px;
    padding: 6px;
}